---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/HeroExtended.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'AntiCoach',
};
---

<Layout metadata={metadata}>

  <!-- Hero Widget ******************* -->

  <Hero image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}>
    <Fragment slot="title"> Il Blog dell’Anti-Coach </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">... niente da insegnare, tanto da imparare</span>
    </Fragment>
  </Hero>
    <!-- HighlightedPosts Widget ******* -->

    <BlogLatestPosts
      title="Cerca qualcosa di interessante..."
      information={`...voglio vedere se proprio ce la fai e se lo trovi per piacere non lo dire a nessuno, ho una reputazione da mantenere`}
    />

</Layout>
